{#{% block aboutMe %}#}

    <p>
        Alors, dites-moi, on commence par quoi ?
        Bon, tout d'abord, je peux vous dire que j'ai passé mon enfance dans le Cantal (15) vers la "mondialement" connue
        station de ski du Lioran. Entre ski l'hiver et randonnée l'été, on était servi en activités, après quand on est
        petit, on trouve vite de quoi s'occuper. D'autant plus que mes parents tenaient un camping, ça facilite la
        rencontre avec de nouvelles personnes !
    </p>
    <p>
        Puis, à la fin de mes années collège, je suis venu étudier dans le Puy-de-Dôme à Clermont-Ferrand, capitale
        volcanique du rugby avec l'ASM. Après avoir étudié à défault et obtenu un Bac
        <abbr title="Sciences et Technologies de la Gestion spécialité Comptabilité et Finance d'Entreprises">
            STG CFE
        </abbr>
        (ne vous inquiétez pas, ce n'est pas du chinois !), j'ai passé un BTS Assistant de Gestion PME-PMI.
        Malgré la réussite de ces 2 diplômes, on peut dire que ce ne sont pas des études qui m'ont vraiment passionné.
    </p>
    <p>
        Ensuite, comme je ne trouvais pas de boulot dans ma branche d'étude, je suis revenu dans le monde de la poudre
        blanche (la neige hein, pas la farine !). En effet, par un certain hasard, j'ai fait en Savoie une formation
        géniale de skiman (Conseiller Technique ski et vente plus précisément) avec des formateurs au TOP au
        <a href="https://www.cnpc.fr/" target="_blank" title="site du CNPC">CNPC Sport</a>, l'école de Commerce du
        Sport. Du coup, j'ai vécu au rythme des saisons pendant 3 ans, skiman en Savoie pendant l'hiver et vendeur en
        boutique de souvenir au bord d'un lac du Puy-de-Dôme ou intérimaire à Coliposte durant l'été.
    </p>
    <p>
        Pour finir, après avoir acquis de l'expérience et plus de confiance en soi grâce au monde saisonnier,
        j'ai voulu me poser et faire un métier plus "stable" économiquement parlant, je me suis donc lancé dans le
        développement web en suivant le parcours Chef de Projet Digital chez
        <a href="https://openclassrooms.com/fr/" target="_blank" title="site d'OpenClassrooms">
            OpenClassrooms
        </a>,
        domaine dans lequel j'étais absolument novice. Pourquoi ce domaine, me diriez-vous ? D'abord étant plutôt
        passionné par le monde technologique (une science qui évolue sans cesse selon nos différents modes
        de vies) et aussi une envie de découvrir quelque chose de nouveau, où l'on peut créer visuellement et
        digitalement nos idées qui seront appelées à être utilisées pour aider les gens dans leur vie quotidienne
        et qui puisse me permettre d'en faire mon métier. Puis à cause de (ou grâce à, je ne sais pas encore !
        <i class="fas fa-smile-wink"></i> )
        mon beau-frère qui est développeur iOS.
    </p>
    <p>
        Avec cette formation terminée en décembre 2020, je suis maintenant autant capable de créer un site
        intéractif directement en ligne de codes (en partant d'une feuille blanche) ou que d'en réaliser un plus
        rapidement à l'aide de CMS (système de gestion de contenu), comme Wordpress, qui propose des centaines de
        template déjà créés dont il reste à intégrer le contenu et quelques fonctionnalités (sécurité, SEO,
        géolocalisation, ...).
    </p>
    <p>
        Voilà, je pense avoir fait le tour de mon parcours, si vous avez besoin de renseignements, n'hésitez pas à me
        contacter
        <a href="" data-toggle="modal" data-target="#ModalContactFormView" title="Une question, c'est ici !" onclick="analyticsContactForm('callContactForm_byAboutMeCard')">
            par là
        </a>.
    </p>
    <p>
        Passez une super journée !
    </p>
{#    <div class="row blockquote_description">#}
{#        <div class="offset-lg-7">#}
{#            <p>PS: N'oubliez pas :</p>#}
{#            <blockquote class="blockquote">#}
{#                <p class="mb-0">"Vous n'êtes pas le couteau le moins aiguisé du tiroir !"</p>#}
{#                <footer class="blockquote-footer">Expression préférée de mon#}
{#                    <cite title="Source Title">beau-frère</cite>#}
{#                </footer>#}
{#            </blockquote>#}
{#        </div>#}
{#    </div>#}

{#{% endblock %}#}