{% block resumeMobile %}

    <div class="col-lg-9 educationExperience_mobileView">
        <div class="card content-card">
            <div class="card-body">
                <div class="col-lg-10 offset-lg-1 education-card__cnt">
                    <h1 class="education-card__title">Formation</h1>
                    <div class="title">
                        <h5>Septembre 2016 - Décembre 2020</h5>
                        <h4>OpenClassrooms - Formation sur internet</h4>
                    </div>
                    <div class="education-type">
                        <p>Formation Chef de projet multimédia - Développement Web transformé en Chef de projet Digital
                            pendant mon parcours (RNCP Bac+3/4)</p>
                    </div>
                    <div class="title">
                        <h5>Octobre 2013 - Novembre 2013</h5>
                        <h4>CNPC - Pralognan la Vanoise (73)</h4>
                    </div>
                    <div class="education-type">
                        <p>Formation Conseiller Technique ski et vente</p>
                    </div>
                    <div class="title">
                        <h5>2009 - 2012</h5>
                        <h4>Institution Saint-Alyre - Clermont-Ferrand (63)</h4>
                    </div>
                    <div class="education-type">
                        <p>BTS Assistant de Gestion PME-PMI à référentiel commun européen</p>
                    </div>
                    <div class="title">
                        <h5>2008 - 2009</h5>
                        <h4>Institution Saint-Alyre - Clermont-Ferrand (63)</h4>
                    </div>
                    <div class="education-type">
                        <p>Baccalauréat : Sciences et Technologies de la Gestion - Spécialité Comptabilité et Finance d’Entreprise</p>
                    </div>

                </div>
            </div>
        </div>

        <br/>

        <div class="card content-card">
            <div class="card-body">
                <div class="col-lg-10 offset-lg-1 experience-card__cnt">
                    <h1 class="experience-card__title">Expériences professionnelles</h1>
                    <div class="title">
                        <h5>Septembre 2016 - Décembre 2020</h5>
                        <h4>OpenClassrooms</h4>
                        <h4>Clermont-Ferrand (63)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Développement de projets</h4>
                        <ul>
                            <li>- Création d'un site web pour promouvoir les activités culturelles d'une commune sous WordPress</li>
                            <li>- Création d'un blog pour un écrivain uniquement sous PHP et MySQL avec système de CRUD</li>
                            <li>- Création d'un backend avec système de réservation et de gestion de vente de tickets d'un musée sous Symfony et Materialize</li>
                            <li>- Création d'un site à impact social, de dépôt d'annonces d'emplois saisonniers, sous Symfony et Bootstrap</li>
                            <li>- Création d'un site permettant d'avoir une visibilité en ligne sous Symfony et Boostrap</li>
                        </ul>
                    </div>
                    <div class="experience-type">
                        <h4>Lancement de projets</h4>
                        <ul>
                            <li>- Création de documents utiles aux mises à jour et aux évolutions d’un projet de site portant sur un Salon du Chocolat</li>
                            <li>- Création de documents afin d'initialiser un projet de refonte avec une démarche qualité Web</li>
                            <li>- Création de documents permettant de superviser une refonte de site e-commerce</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Septembre 2019 - Novembre 2019</h5>
                        <h4>Institut Valérie</h4>
                        <a href="https://institut-valerie.fr/" class="experience_webdev_link_site" target="_blank">(www.institut-valerie.fr)</a>
                    </div>
                    <div class="experience-type">
                        <h4>Développeur Web</h4>
                        <ul>
                            <li>Refonte complet du site sous WordPress</li>
                            <li>Modernisation de l'expérience utilisateur</li>
                            <li>Création d'une nouvelle charte graphique</li>
                            <li>Gestion du support depuis décembre 2019</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Décembre 2015 - Avril 2016</h5>
                        <h4>Skiset - L’Eterlou Sports - St François Longchamp (73)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Conseiller Technique ski et vente</h4>
                        <ul>
                            <li>Vente d'articles de sports (vêtements et équipements)</li>
                            <li>Location de matériels de sports d'hiver</li>
                            <li>Réparation et entretien des équipements de glisse</li>
                            <li>Gestion des encaissements</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Juillet 2015 - Août 2015</h5>
                        <h4>Domaine du Lac Chambon - Murol (63)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Vendeur Boutique de Souvenirs et Loisirs de Plein Air</h4>
                        <ul>
                            <li>Vente d'objets souvenirs de la région</li>
                            <li>Gestion de la location de pédalos et de kayak</li>
                            <li>Gestion des stocks et des encaissements</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Décembre 2014 - Avril 2015</h5>
                        <h4>Skiset - L’Eterlou Sports - St François Longchamp (73)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Conseiller Technique ski et vente</h4>
                        <ul>
                            <li>Vente d'articles de sports (vêtements et équipements)</li>
                            <li>Location de matériels de sports d'hiver</li>
                            <li>Réparation et entretien des équipements de glisse</li>
                            <li>Gestion des encaissements</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Décembre 2013 - Avril 2014</h5>
                        <h4>Skiset - L’Eterlou Sports - St François Longchamp (73)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Conseiller Technique ski et vente</h4>
                        <ul>
                            <li>Vente d'articles de sports (vêtements et équipements)</li>
                            <li>Location de matériels de sports d'hiver</li>
                            <li>Réparation et entretien des équipements de glisse</li>
                            <li>Gestion des encaissements</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Juin 2013 - Août 2013</h5>
                        <h4>Menuiserie Mègemont - Olby (63)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Poseur de menuiseries diverses (portes, fenêtres, …)</h4>
                        <ul>
                            <li>Pose de menuiseries chez les particuliers</li>
                            <li>Aide et manutention à l'atelier</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Avril 2012 - Mai 2013</h5>
                        <h4>Coliposte (RAS Intérim) - Clermont-Ferrand (63)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Agent de Tri Coliposte (intérimaire)</h4>
                        <ul>
                            <li>Répartition des casiers de colis selon la destination</li>
                            <li>Tri des colis selon leur taille</li>
                            <li>Chargement et déchargement des casiers de colis des camions</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Janvier 2012 - Février 2012</h5>
                        <h4>Tom Rowan Design - Clermont-Ferrand (63)</h4>
                        <p> -> Stage de BTS 2ème année</p>
                    </div>
                    <div class="experience-type">
                        <h4>Organisation d’expositions, création de publicité</h4>
                        <ul>
                            <li>Prise de contact avec les communes pour organiser des expositions</li>
                            <li>Création de publicité pour l'exposition</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Août 2011</h5>
                        <h4>Direction de la Logistique - Clermont-Ferrand (63)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Emploi saisonnier - Installations diverses pour les évènements estivaux (podiums, …)</h4>
                        <ul>
                            <li>Installations de podiums pour les évènements estivaux de la ville</li>
                            <li>Déménagement et emménagement de locaux municipaux</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Janvier 2011 - Février 2011</h5>
                        <h4>Auversun - Clermont-Ferrand (63)</h4>
                        <p> -> Stage de BTS 2ème année</p>
                    </div>
                    <div class="experience-type">
                        <h4>Création de fiches de sécurité des postes de travail</h4>
                        <ul>
                            <li>Étude des différents postes de travail de la ligne de montage de panneaux solaires</li>
                            <li>Échanges avec les employés sur les dangers et obligations des postes</li>
                            <li>Création de fiches de sécurité à afficher sur les différents postes de travail</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Mai 2010- Juin 2010</h5>
                        <h4>Aclim - Clermont-Ferrand (63)</h4>
                        <p> -> Stage de BTS 1ère année</p>
                    </div>
                    <div class="experience-type">
                        <h4>Assistant agent comptable</h4>
                        <ul>
                            <li>Comptabilité générale</li>
                            <li>Création de commandes clients et fournisseurs</li>
                            <li>Réalisation de factures</li>
                            <li>Réception des commandes et vérification</li>
                        </ul>
                    </div>
                    <div class="title">
                        <h5>Étés 2006 à 2010</h5>
                        <h4>Camping des Blats - St Jacques des Blats (15)</h4>
                    </div>
                    <div class="experience-type">
                        <h4>Emploi saisonnier Accueil et Agent d’entretien</h4>
                        <ul>
                            <li>Accueil des vacanciers</li>
                            <li>Entretiens des locaux (accueil, sanitaire, emplacements)</li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}